<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><h2>CONVERTOR</h2></div>

        <ul class="navbar-nav">
            <li><a routerLink="/welcome" class="nav-link">Home</a></li>
            <li><a routerLink="/uploadUserAccountInfo" class="nav-link">User Info Upload</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a routerLink="/userDetails" class="nav-link">User Details</a></li>
                <li><a routerLink="/userAccountDetails" class="nav-link">User Account Details</a></li>
        </ul>
    </nav>
</header>
