
<div style="text-align:center">
    <h1>
      Welocome to  User Info!
    </h1>
  </div>

  <!-- <div class="container" *ngIf="welcomeErrorMessageFromService">
    <h2 style="background-color: yellow; color: red;" >{{welcomeErrorMessageFromService}}</h2>
  </div> -->

<app-list-user-details></app-list-user-details>

<!-- <div class="container">
  Click here to get a customized welcome message 
  <button (click) = getWelcomeMessage() class="btn btn-success">here</button>
</div> -->

<!-- <div class="container" *ngIf="welcomeMessageFromService">
  <h2>Click here for customized welcome message </h2>
  {{welcomeMessageFromService}}
</div> -->

<!-- <button (click) = getUserDetails()>UserDetails</button> <br>
<button (click) = uploadUserAccountDetails()>UploadUserInfo</button> <br>
<button (click) = getUserAccountDetails()>UserAccountDetails</button> <br> -->